<div class="hero-container">
    <header class="header">
      <div class="logo-container">
        <!-- <img src="assets/logo.jpg" alt="Wanderlust Logo" class="logo-img" /> -->
        
    <div class="logo-img"></div>
        <div class="logo-text">HARSHAD</div>
      </div>
      <!-- <nav class="nav-menu">
        <ul>
          <li>AFRICA</li>
          <li>ASIA</li>
          <li>AMERICAS</li>
          <li>EUROPE</li>
          <li>ABOUT US</li>
          <li>CONTACT</li>
          <li><i class="fa fa-search"></i></li>
        </ul>
      </nav> -->
    </header>
  
    <div class="hero-content">
      <h1>Harsha Wanderlust Travel Blog</h1>
      <p>Better to see something once than hear about it a thousand times!</p>
      <div class="buttons">
        <!-- <button class="btn primary">EXPLORE</button>
        <button class="btn outline">JOURNEYS</button> -->
      </div>
    </div>
  </div>
  