<div class="blog-card">
    <div class="date-box">
      <span class="month">Jan</span>
      <span class="day">9</span>
      <span class="year">2018</span>
    </div>
    <!-- <img src="assets/DSC07172.JPG" alt="African Wildlife" class="blog-image" /> -->
    <div class="blog-image"></div> <!-- Replace <img> with a div -->
    <div class="blog-content">
      <h3>African Wildlife</h3>
      <div class="meta">AFRICA / LEAVE A COMMENT</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
        mattis, pulvinar dapibus leo. Sed non mauris vitae erat consequat auctor […]
      </p>
      <a href="#" class="read-more">Read More »</a>
    </div>
  </div>
  